html {
  background-color: #222;
  color: #fff;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: pink; */
}

.column {
  display: flex;
}

.column-content {
  align-items: center;
  width: 800px;
  /* background-color: blue; */
}

.column-sidebar {
  margin: 0 5em 0 5em;
  min-width: 250px;
  background-color: #111;
}

h1 {
  flex-grow: 10;
  font-family: 'Major Mono Display', monospace;
  /* color: #e5ff00; */
}

button {
  flex-grow: 1;
  margin-left: 1em;
  height: 3em;
  border: none;
  color: white;
  padding: .5em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
}

.primary {
  background-color: #6a19ff;
}

.primary:hover {
  background-color: #5e06ff;
}

.secondary {
  background-color: #ff0067;
}

.secondary:hover {
  background-color: #e5005c;
}

#phaser-container {
  width: 800px;
  height: 600px;
  background-color: #111;
}
